[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

apscheduler = "*"
watchdog = "*"
pyyaml = "*"
dateutils = "*"
pendulum = "*"
dateparser = "*"
sphinx = "*"
simpleeval = "*"
jmespath = "*"


[requires]

python_version = "3.6"
